.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Slick carousel dots customization */
.slick-dots {
  bottom: 1.5rem; /* adjust vertical position */
  li {
    margin: 0 0.5rem; /* spacing between dots */
    button {
      &::before {
        font-size: 1.5rem;   /* bigger dots */
        color: white;        /* default dot color */
        opacity: 1;
      }
    }
    &.slick-active button::before {
      color: #facc15;        /* yellow active dot */
    }
  }
}