@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* Slick carousel dots customization */
.slick-dots {
  bottom: 3rem; /* move dots up/down */
}

.slick-dots li {
  margin: 0 0.5rem; /* spacing between dots */
}

.slick-dots li button::before {
  font-size: 1rem !important; /* bigger dots */
  color: white !important;       /* default color */
  opacity: 1 !important;
}

.slick-dots li.slick-active button::before {
  color: #fefcbf !important;     /* yellow active dot */
}
